body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    background-color: #232323;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
}


.cell {
    background-color: #ddd;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 5rem;
    cursor: pointer;

}

.cell-win {
    background-color: #25a340;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
